<html>

<head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
</head>

<body id="app">

    <p><a href="/">Main</a></p>
    <div id="lobby-layout" v-if="game === null">
        <a href="/?room_id={{room_id}}">Invite another player</a>
        <p>${playerName}$</p>
        <h1>Room</h1>
        <ul>
            <li v-for="p in players">${p.player_name}$</li>
        </ul>
        <button :disabled="players.length < config.MIN_PLAYERS || players.length > config.MAX_PLAYERS"
            v-if="player.is_owner" @click="startGame">Start game</button>
    </div>
    <div id="game-layout" v-if="game !== null">
        <p>Round: ${game.round}$</p>
        <p>Common account: ${game.round_common_account_points}$ points</p>
        <p>Player points: ${game.all_players_points[playerName]}$</p>
        <template v-if="playerName == game.active_player">
            <b>It's your move!</b>
        </template>
        <p>Players:</p>
        <ul>
            <li v-for="player in game.players">
                <template v-if="player == game.active_player">
                    <b>${ player }$ is moving...</b>
                </template>
                <template v-else="">
                    ${ player }$
                </template>
            </li>
        </ul>
        <template v-if="player.player_name == game.active_player">
            <button @click="changePlayerPoints(5); endMove();">+5 points</button>
            <button @click="changePlayerPoints(-5); endMove();">-5 points</button>
            <button @click="addPointsToCommonAccount(5);">Add 5 points to common account</button>
        </template>
        <button @click="endGame">End game</button>
    </div>


    <script type="text/javascript" charset="utf-8">
        const { createApp, ref } = Vue
        var socket = io();
        createApp({
            setup() {
                return {
                    playerName: '{{ player_name }}',
                    roomId: '{{ room_id }}',
                    players: ref([]),
                    config: {},
                    game: ref(null),
                }
            },
            computed: {
                player() {
                    return this.players.filter(p => p.player_name == this.playerName)[0] || {}
                },

            },
            methods: {
                startGame() {
                    socket.emit('start_game', { "room_id": this.roomId });
                    console.log('Game started!')
                },
                endGame() {
                    socket.emit('end_game', { "room_id": this.roomId });
                },
                endMove() {
                    socket.emit('next_move', { "room_id": this.roomId });
                },
                changePlayerPoints(points) {
                    socket.emit('change_player_points', {
                        "room_id": this.roomId,
                        "player_name": this.playerName,
                        "update_player_points": points,
                    }
                    )
                },
                addPointsToCommonAccount(points) {
                    socket.emit('add_points_to_common_account', {
                        "room_id": this.roomId,
                        "player_name": this.playerName,
                        "points_to_common_account": points,
                    }
                    )
                },
                selectCards(card_ids) {
                    socket.emit('select_cards_from_table', {
                        "room_id": this.roomId,
                        "selected_cards_ids": card_ids, // card_ids must be an array of card ids selected by leader
                    }
                    )
                },

            },
            mounted() {
                let vm = this;
                socket.on('connect', function () {
                    console.log('connected')
                    socket.emit('player_enter', { "player_name": vm.playerName, "room_id": vm.roomId });
                });
                socket.on("room_entered", (arg) => {
                    vm.players = arg.players;
                    vm.config = arg.config;
                    vm.game = arg.game
                });
                socket.on('game_started', (arg) => {
                    console.log(arg)
                    vm.game = arg.game
                });
                socket.on('game_ended', (arg) => {
                    console.log(arg)
                    vm.game = null
                });
                socket.on('round_started', (arg) => {
                    console.log(arg)
                    vm.game = arg.game
                });
                socket.on('move_started', (arg) => {
                    console.log(arg)
                    vm.game = arg.game
                });
                socket.on('player_points_changed', (arg) => {
                    console.log(arg)
                    vm.game = arg.game
                });
                socket.on('added_to_common_account', (arg) => {
                    console.log(arg)
                    vm.game = arg.game
                });
                socket.on('cards_for_round_selected', (arg) => {
                    console.log(arg)
                    vm.game = arg.game
                });
            },

            delimiters: ["${", "}$"],

        }).mount('#app')


        // socket.emit('my event', { data: 'Button clicked' })


    </script>
</body>

</html>