<html>

<head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
</head>

<body id="app">

    <p><a href="/">Main</a></p>
    <a href="/?room_id={{room_id}}">Invite another player</a>
    <p>${playerName}$</p>
    <h1>Room</h1>
    <ul>
        <li v-for="player in players">${player.player_name}$</li>
    </ul>
    <button :disabled="players.length < config.MIN_PLAYERS || players.length > config.MAX_PLAYERS">Start game</button>


    <script type="text/javascript" charset="utf-8">
        const { createApp, ref } = Vue

        createApp({
            setup() {

                return {
                    playerName: '{{ player_name }}',
                    roomId: '{{ room_id }}',
                    players: ref([]),
                    config: {}
                }
            },
            mounted() {
                let vm = this;
                var socket = io();
                socket.on('connect', function () {
                    console.log('connected')
                    socket.emit('player_enter', { "player_name": vm.playerName, "room_id": vm.roomId });
                });
                socket.on("room_entered", (arg) => {
                    vm.players = arg.players;
                    vm.config = arg.config;
                });
            },
            delimiters: ["${", "}$"],
        }).mount('#app')


        // socket.emit('my event', { data: 'Button clicked' })


    </script>
</body>

</html>