<html>

<head>
    <title>Game | {{ player_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>

    <!-- https://colorscheme.ru/#5642nw0w0w0w0 -->
    <style>
        .font-bigger {
            font-size: 1.5rem;
        }
        .card {
            min-width: 300px;
            width: 300px;
            min-height: 300px;
            display: inline-block;
            margin-left: 5px;
            text-align: center;
            background-color: #ccc
        }

        .card-active {
            min-width: 300px;
            width: 300px;
            min-height: 400px;
            display: inline-block;
            margin-left: 5px;
            text-align: center;
        }

        .overlay {
            top: 0;
            left: 0;
            padding-top: 100px;
            text-align: center;
            position: absolute;
            z-index: 100;
            min-width: 100%;
            min-height: 100%;
            background-color: lavender;
        }


        .portrait {
            background: #FFEBCD;
            background-size: contain;
            background-repeat: no-repeat;
            min-height: 150px;
            max-height: 150px;
            min-width: 150px;
            max-width: 150px;
        }

        .portrait.active {
            border-radius: 20%;
            box-shadow:
              0 0 30px #f0f,
              -5px 0 8px #0ff,
              5px 0 8px #0ff;
        }

        .portrait p {
            overflow-wrap: break-word;
        }

        .portrait div span {
            background-color: #fff;
            opacity: 0.85;
            font-size: 1rem;
            color: #000;
            border-radius:10%;
        }

        #portrait-options img {
            width: 220px;
        }

        .bounce-enter-active {
          animation: bounce-in 0.2s ease;
        }
        .bounce-leave-active {
          animation: bounce-in 0.2s reverse;
        }
        @keyframes bounce-in {
          0% {
            transform: scale(0.5);
            opacity: 0;
          }
          50% {
            transform: scale(0.75);
            opacity: 0.2;
          }
          100% {
            transform: scale(1);
            opacity: 1;
          }
        }

        .overlay.success {
            background: rgb(52,210,15);
            background: radial-gradient(circle, rgba(52,210,15,1) 0%, rgba(5,184,29,1) 56%, rgba(0,255,98,0.9332107843137255) 100%);
        }
        .overlay.failure {
            background: rgb(210,60,15);
            background: radial-gradient(circle, rgba(210,60,15,1) 0%, rgba(184,125,5,1) 52%, rgba(255,154,0,0.8323704481792717) 100%);
        }
    </style>
</head>
<!--todo - leader can not select himself for project team-->

<body>
    <div id="app">
        <div class="container">
            <div class="row py-2">
                <div class="col">
                    <p><a href="/">Новая игра</a></p>
                </div>

                <div class="col text-end">
                    <span style="color: #fef;" v-if="room.game" @click="debug = !debug">debug</span>
                </div>
            </div>

            <div class="row" v-if="debug === true">
                <div class="col">
                    <p>Common account: ${game.round_common_account_points}$ points</p>
                    <pre>${ game }$</pre>
                    <pre>Stage ${ roundStage }$</pre>
                </div>
            </div>
        </div>


        <transition name="bounce">
            <div v-if="showFinalResults === true" class="overlay">
                <h2 class="mb-4">Игра окончена!</h2>
                <div v-for="rank in finalRating">${ rank[0] }$ - <points-badge :points="rank[1]"/></div>

                <div class="mt-4">
                    <button @click="showFinalResults = false" class="btn btn-primary">Закрыть</button>
                </div>
            </div>
        </transition>

        <transition name="bounce">
            <div v-if="showRoundResults === true"
                 class="overlay mb-3"
                 :class="{'success': roundResults === true, 'failure': roundResults === false}">
                <div class="mr-5">
                    Здание
                    <span v-if="roundResults === false"> <strong>не</strong> построено</span>
                    <span v-else> построено</span>

                    <div class="mt-4">
                        <button @click="showRoundResults = false" class="btn btn-primary">Закрыть</button>
                    </div>
                </div>

            </div>
         </transition>

        <div id="lobby-layout" v-if="room.game === null" class="container">
            <div class="row">
                <div class="col">
                    <h1>Лобби</h1>
                    <a href="/?room_id={{room_id}}" target="_blank">Пригласить другого игрока</a>

                    <!-- Player list -->
                    <div class="row">
                        <div class="col-12 mt-4">
                            <p>Сейчас в комнате:</p>
                        </div>

                        <div class="col-auto"
                             v-for="p in room.players">
                            <div class="portrait p-2 rounded-4 mb-2"
                                 :style="{'background-image': 'url(/static/portrait' + (portraitIds[p.name] || 0) + '.jpg)'}">
                                <div>
                                    <p><span class="p-1"><strong>${ p.name }$</strong></span></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 my-3">
                            <button type="button"
                                    @click="showPortraitOptions = !showPortraitOptions"
                                    class="btn btn-sm btn-outline-secondary">${ !showPortraitOptions ? 'Выбрать портрет' : 'Готово' }$</button>

                            <div v-if="showPortraitOptions === true"
                                 id="portrait-options"
                                 class="mt-3">
                                {% for i in range(4) %}
                                    <div class="row">
                                        <div class="col">
                                        {% for j in range(4) %}
                                            <img src="{{ url_for('static', filename='portrait' ~ ((i * 4) + 1 + j) ~ '.jpg') }}"
                                                 class="border border-5"
                                                 :class="{'border-info': player.portrait_id === {{ (i * 4) + 1 + j }}}"
                                                 @click="selectPortrait({{ (i * 4) + 1 + j }})">
                                        {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-12 my-3">
                            <button :disabled="room.players.length < room.config.MIN_PLAYERS || room.players.length > room.config.MAX_PLAYERS"
                                    v-if="player.is_owner"
                                    class="btn btn-primary"
                                    @click="startGame">Начать игру</button>
                        </div>
                    </div>

                    <details v-if="player.is_owner">
                        <summary>Настроить</summary>

                        <div>
                            <label>Number of rounds
                                <input v-model="gameConfig.rounds" />
                            </label>
                        </div>
                    </details>
                </div>
            </div>
        </div>

        <div id="game-layout" v-if="room.game !== null" class="pb-5">
            <div class="container">
                <div class="row mb-3">
                    <div class="col">
                         <h5>
                             ${ playerPurse }$
<!--                             <span>Счет: <money-coin :coin="coin" v-for="for curr in playerPurse"/></span>-->
                         </h5>

                         <p>
                            <span>Раунд <i class="bi-hourglass-split"></i> ${ game.round }$ / ${ game.rounds }$</span>
                            <span v-if="roundStage === 0">, мэр выбирает задание </span>
                            <span v-if="roundStage === 1">, игроки выбирают задания  </span>
                        </p>
                    </div>
                </div>

                <!-- Players list -->
                <div class="row mb-4">
                    <div class="col-auto mx-1"
                         v-for="pl in room.players">
                        <div class="portrait border p-2 rounded-4 mb-2"
                             :style="{'background-image': 'url(/static/portrait' + (portraitIds[pl.name] || 0) + '.jpg)'}"
                             :class="{'active border-info border-5': game.active_player == pl.name, 'border-secondary-subtle': game.active_player != pl.name}">

                             <span class="p-1 bg-light">
                                <strong>${ pl.name }$</strong>
                             </span>
                             <span class="p-1 m-1 text-white bg-primary" v-if="pl.name == game.leader">мэр</span>
                        </div>
                    </div>
                </div>

                <!-- Cards -->
                <div class="row bg-gradient py-4">
                    <div class="col">
                        <div v-if="game.round_cards_draw && game.round_cards_draw.length > 0">
                            <div class="row">
                                <div class="col">
                                    <table-card :card="card"
                                            class="border-5"
                                            :class="{'border-info': selectedCardId == card.name, 'border-white': selectedCardId != card.name}"
                                            v-for="card in game.round_cards_draw"
                                            :cover-only="roundStage == 0 && !isLeader()"
                                            @click="(roundStage == 0 && isLeader()) && selectCardId(card.name)"
                                            :key="card.name"
                                            v-show="roundStage == 0 || game.selected_house.name == card.name"
                                            :show-tmp-jobs="roundStage == 0"
                                            />

                                </div>
                            </div>

                            <div class="row mt-3" v-if="roundStage == 0 && isLeader()">
                                <div class="col">
                                    <button type="button"
                                            :disabled="!selectedCardId"
                                            class="btn btn-primary"
                                            @click="submitHouseCardSelection()">Подтвердить выбор</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- JOBS -->
                <div class="row py-4">
                    <div class="col-2 text-center"
                         style="background-color: #ffa"
                         v-if="game.selected_house"
                         v-for="job in game.selected_house.project_jobs">
                        <job-slot :job="job"
                                  :assignee="game.job_assignment[job.name]"
                                  class="py-3 border border-3"
                                  :class="{'border-info': selectedJobId == job.name, 'border-success border-opacity-75': canBeAssigned(job)}"
                                  @click="canBeAssigned(job) && selectJobId(job.name)"/>
                    </div>
                    <div class="col-2 text-center" v-for="house in game.houses">
                        <job-slot :job="job"
                                  class="py-3 border border-3"
                                  :assignee="game.job_assignment[job.name]"
                                  v-for="job in house.jobs"
                                  :class="{'border-info': selectedJobId == job.name, 'border-success border-opacity-75': canBeAssigned(job)}"
                                  @click="canBeAssigned(job) && selectJobId(job.name)"/>
                    </div>

                </div>
<!--                объединения работ в постройки-->
<!--                доделать выбор работ-->
                <div class="row mt-3" v-if="roundStage == 1 && selectedJobId">
                    <div class="col">
                        <button type="button"
                                class="btn btn-primary"
                                @click="submitJobSelection()">Подтвердить выбор</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <template id="TableCard">
        <div class="card shadow-sm me-3 mb-3 border-4">
            <div :style="{'background-image': 'url(/static/card/' + (coverOnly ? 'transport_6.jpg' : (card.family.toLowerCase() + '_' + card.tier + '.jpg)'))}"
                 class="py-4">
                <div v-if="!coverOnly">
                    <span class="bg-light px-2 py-1 rounded-pill text-dark"><small><span class="badge text-dark" :style="{'background-color': familyColors[card.family]}">${ card.family }$</span> ${ card.card_type }$ ${ card.tier }$ </small></span>
                    <h4 class="mt-1">
                        <span class="bg-light px-2 py-1 rounded-pill text-dark">
                            ${ card.name }$
                        </span>
                    </h4>

                    <div v-if="card.jobs && card.jobs.length > 0" class="my-4">
                        <div class="row">
                            <job-slot :job="job"
                                      v-for="(job, idx) in card.jobs"
                                      class="p-2 col"
                                      />
                        </div>
                        <div class="row">
                            <job-slot :job="job"
                                      v-for="(job, idx) in card.project_jobs"
                                      class="p-2 col-6"
                                      v-show="showTmpJobs"
                                      />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template id="JobSlot">
        <div>
            <span class="rounded-pill px-2 py-1 bg-primary text-white"
                  :class="{'bg-secondary': assignee, 'bg-primary': !assignee}">
                ${ job.name }$
            </span>
            <div class="mt-2">
                <deal-slot class="bg-primary rounded-pill" :deal="job.deal"/>
            </div>
            <div v-if="assignee" class="mt-2">Занято <strong>${ assignee }$</strong></div>
        </div>
    </template>

    <template id="DealSlot">
        <span class="p-2">
            <span v-if="deal[0]" v-for="(coin, curr) in deal[0]" class="me-2 text-white">
                <strong v-if="coin.amount" class="me-1">-</strong>
                <money-coin :coin="coin" :signed="true"/>
            </span>

            <span v-if="deal[1]" v-for="(coin, curr) in deal[1]" class="text-white">
                <strong v-if="coin.amount" class="me-1">+</strong>
                <money-coin :coin="coin" :signed="true"/>
            </span>
        </span>
    </template>

    <template id="MoneyCoin">
        <span class="badge px-2 text-dark"
              :style="{'background-color': colors[coin.currency] }"
              v-if="coin.amount != 0">
            <strong>${ coin.amount }$</strong>
        </span>
    </template>

    <script type="text/javascript" charset="utf-8">
        const { createApp, ref } = Vue
        var socket = io();

        const app = createApp({
            setup() {
                return {
                    room: ref({}),

                    showPortraitOptions: ref(false),
                    debug: ref(false),
                    selectedCardId: ref(null),
                    selectedJobId: ref(null),
                    projectTeamMembersSelection: ref({}),
                    playerName: '{{ player_name }}',
                    roomId: '{{ room_id }}',

                    config: ref({}),
                    showRoundResults: ref(false),
                    roundResults: ref(null),
                    finalRating: ref(null),
                    showFinalResults: ref(false),
                    gameConfig: ref({
                        rounds: 15
                    }),
                }
            },
            computed: {
                game() {
                    return this.room.game || {}
                },
                player() {
                    return this.room.players?.find(p => p.name == this.playerName) || {}
                },
                playerEffectsToApply() {
                    return (this.game.effects_to_apply
                           && this.game.effects_to_apply.length > 0
                           && this.game.effects_to_apply.filter(ef => ef.payload.players.includes(this.playerName))) || []
                },
                succeedCards() {
                    return (this.game.history && this.game.history.filter(log => log.succeeded).map(log => log.card)) || []
                },
                portraitIds() {
                    let pls = this.room.players || [];

                    let portraitIds = {};
                    pls.forEach(p => {
                        portraitIds[p.name] = p.portrait_id;
                    });

                    return portraitIds;
                },
                roundStage() {
                    // project developing
                    if (this.game.team && this.game.team.length > 0) {
                        return 2
                    }

                    // house card is selected, time to assign jobs
                    if (this.game.selected_house) {
                        return 1
                    }

                    // leader see card and have to select
                    return 0
                },
                projectTeamMaxMembers() {
                    return Math.max.apply(null, this.game.cards_selected_by_leader.map(c => c.max_team))
                },
                selectedProjectTeamMembers() {
                    let selectedPlayers = [];
                    for (player in this.projectTeamMembersSelection) {
                        if (this.projectTeamMembersSelection[player] === true) {
                            selectedPlayers.push(player)
                        }
                    }

                    return selectedPlayers;
                },
                projectTeamHasMinMembers() {
                    return this.selectedProjectTeamMembers.length < Math.min.apply(null, this.game.cards_selected_by_leader.map(c => c.min_team))
                },
                succeedCardsByFamilies() {
                    let families = {}

                    this.succeedCards.forEach(card => {
                        if (!(card.family in families)) {
                            families[card.family] = card
                        }
                        if (families[card.family].tier < card.tier) {
                            families[card.family] = card
                        }
                    })

                    return families
                },
                currentVacancies() {
                    let vacancies = {}

                    this.succeedCards
                        .filter(card => card.vacancy)
                        .forEach(card => {
                            let fam = card.family
                            if (!(fam in vacancies)) {
                                vacancies[fam] = card.vacancy
                            }
                            if (vacancies[fam].tier < card.tier) {
                                vacancies[fam] = card.vacancy
                            }
                        })

                    return vacancies
                },
                activeCardFeatures() {
                    return {
                        'cards_cost': this.getActiveFeature('cards_cost'),
                        'cards_reward': this.getActiveFeature('cards_reward'),
                        'clerks_salary': this.getActiveFeature('clerks_salary'),
                    }
                },
                mission() {
                    return this.game.missions?.find(m => m.player == this.player.name)
                },
                playerPurse() {
                    return (this.game && this.game.players && this.game.players[this.playerName].purse) || {}
                },
                playerAssignedAlready() {
                    return Object.values(this.game.job_assignment).includes(this.playerName)
                }
            },
            methods: {
                comparePurses(p1, p2) {
                    let diff = 0;
                    for (const curr in p1) {
                        if (!p2.hasOwnProperty(curr)) {
                            continue;
                        }
                        const coinDiff = p1[curr].amount - p2[curr].amount;
                        if (coinDiff < 0) {
                            return -1;
                        }
                        diff += coinDiff;
                    }
                    return diff === 0 ? 0 : 1;
                },
                selectPortrait(id) {
                    socket.emit('select_player_portrait', {
                        "portrait_id": id,
                        "room_id": this.roomId,
                        "player_name": this.playerName
                    });
                },
                selectCardId(name) {
                    this.selectedCardId = name;
                },
                hasEnoughMoney(purse, price) {
                    return this.comparePurses(purse, price) >= 0
                },
                canBeAssigned(job) {
                    let isAlreadyAssigned = Boolean(this.game.job_assignment[job.name]);

                    console.log(this.roundStage, this.isActivePlayer(), isAlreadyAssigned, this.hasEnoughMoney(this.playerPurse, job.deal))
                    return this.roundStage == 1
                        && this.isActivePlayer()
                        && !isAlreadyAssigned
                        && this.hasEnoughMoney(this.playerPurse, job.deal)
                },
                selectJobId(name) {
                    this.selectedJobId = name;
                },
                isActivePlayer() {
                    return this.playerName === this.game.active_player
                },
                isLeader() {
                    return this.playerName == this.game.leader;
                },
                startGame() {
                    socket.emit('start_game', {
                        "room_id": this.roomId,
                        "rounds": this.gameConfig.rounds
                    });
                },
                makeProjectDeposit(points) {
                    let payload = {
                        "room_id": this.roomId,
                        "player_name": this.playerName,
                        "points": points
                    }
                    socket.emit('make_project_deposit', payload)
                    this.playerProjectBid = 0;
                },
                submitHouseCardSelection() {
                    let payload = {
                        "room_id": this.roomId,
                        "selected_card_name": this.selectedCardId,
                    }
                    socket.emit('select_house_card', payload)
                    this.selectedCardId = null;
                },
                submitJobSelection() {
                    let payload = {
                        "room_id": this.roomId,
                        "selected_job": this.selectedJobId,
                        "player_name": this.playerName,
                    }
                    socket.emit('select_job', payload)
                    this.selectedJobId = null;
                },
                submitProjectTeamSelection() {
                    let payload = {
                        "room_id": this.roomId,
                        "selected_players": this.selectedProjectTeamMembers,
                    }
                    socket.emit('select_team_for_round', payload)
                    this.projectTeamMembersSelection = {};
                },
                formatMissionDescription(mission) {
                    if (!mission) {
                        return [null, null];
                    }
                    if (mission.name === 'fail_as_team_n_rounds') {
                        return ['Саботёр', `Провалить ${mission.rounds} проектов в команде`];
                    }
                    if (mission.name === 'succeed_as_team_n_rounds') {
                        return ['Строитель', `Завершить ${mission.rounds} проектов в команде`];
                    }
                    if (mission.name === 'fail_as_leader_n_rounds') {
                        return ['Коррупционер', `Провалить ${mission.rounds} проектов мэром`];
                    }
                    if (mission.name === 'succeed_as_leader_n_rounds') {
                        return ['Губернатор', `Завершить ${mission.rounds} проектов мэром`];
                    }
                    if (mission.name === 'deposit_n_points_at_once') {
                        return ['Меценат', `Вложить ${mission.deposit} очков за раз`];
                    }
                    if (mission.name === 'leader_without_overpayment') {
                        return ['Честный мэр', `Не получить переплаты, будучи мэром`];
                    }
                    if (mission.name === 'succeeded_n_tier') {
                        return ['Магнат', `Обеспечить постройку здания уровня ${mission.tier}`];
                    }
                    if (mission.name === 'lower_than_n_tier') {
                        return ['Луддит', `Не допустить постройку здания уровня ${mission.tier}`];
                    }
                    if (mission.name === 'earn_n_points') {
                        return ['Миллионер', `Заработать ${mission.earn} очков`];
                    }
                }
            },
            mounted() {
                let vm = this;

                socket.on('connect', function() {
                    socket.emit('player_enter', {"player_name": vm.playerName, "room_id": vm.roomId});
                });

                let listeners = {
                    'room_entered': function(arg) {
                        vm.room = arg;
                    },
                    'game_started': function(arg) {
                        vm.room = arg;
                    },
                    'round_started': function(arg) {
                        vm.room = arg;
                    },
                    'move_started': function(arg) {
                        vm.room = arg;
                    },
                    'player_points_changed': function(arg) {
                        vm.room = arg;
                    },
                    'job_selected': function(arg) {
                        vm.room = arg;
                    },
                    'house_card_selected': function(arg) {
                        vm.room = arg;
                    },
                    'round_done': function(arg) {
                        vm.room = arg;
                    },
                    'round_result': function(arg) {
                        vm.room = arg;
                        vm.roundResults = arg.game.latest_round_result;
                        vm.showRoundResults = true;
                    },
                    'player_portrait_selected': function(arg) {
                        vm.room = arg;
                    },
                    'game_ended': function(arg) {
                        vm.room = arg;
                        vm.finalRating = arg.rating;
                        vm.showFinalResults = true;
                    }
                }

                for (const [eventName, cb] of Object.entries(listeners)) {
                    socket.on(eventName, (arg) => {
                        console.log(eventName, arg)
                        cb(arg)
                    });
                }
            },
        });
        app.component('MoneyCoin', {
            props: ['coin', 'signed'],
            data() {
                return {
                    colors: {
                        'gld': '#FFF400',
                        'ppr': '#FF9140',
                        'clt': '#E266B7',
                        'scn': '#34CFBE',
                        'rlg': '#C2F83E'
                    }
                }
            },
            template: '#MoneyCoin',
        });
        app.component('DealSlot', {
            props: ['deal'],
            template: '#DealSlot',
        });
        app.component('JobSlot', {
            props: ['job', 'assignee'],
            template: '#JobSlot',
        });
        app.component('TableCard', {
            props: ['card', 'coverOnly', 'showTmpJobs'],
            data() {
                return {
                    familyColors: {
                        'finance': '#FF9140',
                        'culture': '#E266B7',
                        'science': '#34CFBE',
                        'religion': '#C2F83E'
                    },
                    tiers: {
                        1: 'I',
                        2: 'II',
                        3: 'III',
                        4: 'IV',
                        5: 'V'
                    },
                }
            },
            template: '#TableCard',
        });
        app.component('PointsBadge', {
            props: ['points', 'duration', 'prolonged', 'signed'],
            template: '<span class="badge rounded-pill bg-warning text-dark"><strong><span v-if="signed && points > 0">+</span>${ points }$</strong><span v-if="prolonged"><span v-if="duration">&nbsp;на&nbsp;${ duration }$&nbsp;<i class="bi-hourglass-split"></i></span></span></span>',
        });
        app.component('VacancyBadge', {
            props: ['name', 'salary'],
            template: '<span class="bg-info badge text-dark"><b>${ name }$</b> <points-badge style="font-size: 0.7rem;" :signed="true" :points="salary" /></span>'
        });
        app.component('FeatureBadge', {
            props: ['feature'],
            data() {
                return {
                    featureTypes: {
                        'cards_cost': 'Цена построек',
                        'cards_reward': 'Награда за постройку',
                        'clerks_salary': 'Зарплаты',
                        'basic_income': 'Базовый доход',
                        'random_gift': 'Случайный доход',
                    },
                }
            },
            template: '<span class="bg-success badge"><b>${ featureTypes[feature.type] }$</b> <points-badge style="font-size: 0.7rem;" :signed="true" :points="feature.magnitude" /></span>'
        });

        app.config.compilerOptions.delimiters = ["${", "}$"];
        app.mount('#app')

    </script>
</body>
</html>