<html>

<head>
    <title>Game | {{ player_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>

    <style>
        .font-bigger {
            font-size: 1.5rem;
        }
        .card {
            min-width: 300px;
            width: 300px;
            min-height: 300px;
            display: inline-block;
            margin-left: 5px;
            text-align: center;
        }

        .card-active {
            min-width: 300px;
            width: 300px;
            min-height: 400px;
            display: inline-block;
            margin-left: 5px;
            text-align: center;
        }

        .overlay {
            top: 0;
            left: 0;
            padding-top: 100px;
            text-align: center;
            position: absolute;
            z-index: 100;
            min-width: 100%;
            min-height: 100%;
            background-color: lavender;
        }

        .card-effect {}

        .card-effect-success {
            background-color: #7FFF00;
        }

        .card-effect-failure {
            background-color: #DC143C;
            color: #fff;
        }

        .portrait {
            background: #FFEBCD;
            background-size: contain;
            background-repeat: no-repeat;
            min-height: 150px;
            max-height: 150px;
            min-width: 150px;
            max-width: 150px;
        }

        .portrait.active {
            border-radius: 20%;
            box-shadow:
              0 0 30px #f0f,
              -5px 0 8px #0ff,
              5px 0 8px #0ff;
        }

        .portrait p {
            overflow-wrap: break-word;
        }

        .portrait div span {
            background-color: #fff;
            opacity: 0.85;
            font-size: 1rem;
            color: #000;
            border-radius:10%;
        }

        #portrait-options img {
            width: 220px;
        }

        .bounce-enter-active {
          animation: bounce-in 0.2s ease;
        }
        .bounce-leave-active {
          animation: bounce-in 0.2s reverse;
        }
        @keyframes bounce-in {
          0% {
            transform: scale(0.5);
            opacity: 0;
          }
          50% {
            transform: scale(0.75);
            opacity: 0.2;
          }
          100% {
            transform: scale(1);
            opacity: 1;
          }
        }

        .overlay.success {
            background: rgb(52,210,15);
            background: radial-gradient(circle, rgba(52,210,15,1) 0%, rgba(5,184,29,1) 56%, rgba(0,255,98,0.9332107843137255) 100%);
        }
        .overlay.failure {
            background: rgb(210,60,15);
            background: radial-gradient(circle, rgba(210,60,15,1) 0%, rgba(184,125,5,1) 52%, rgba(255,154,0,0.8323704481792717) 100%);
        }
    </style>
</head>
<!--todo - leader can not select himself for project team-->

<body>
    <div id="app">
        <div class="container">
            <div class="row py-2">
                <div class="col">
                    <p><a href="/">Новая игра</a></p>
                </div>

                <div class="col text-end">
                    <span style="color: #fef;" v-if="room.game" @click="debug = !debug">debug</span>
                </div>
            </div>

            <div class="row" v-if="debug === true">
                <div class="col">
                    <p>Common account: ${game.round_common_account_points}$ points</p>
                    <pre>${ game }$</pre>
                    <pre>Stage ${ roundStage }$</pre>
                </div>
            </div>
        </div>


        <transition name="bounce">
            <div v-if="showFinalResults === true" class="overlay">
                <h2 class="mb-4">Игра окончена!</h2>
                <div v-for="rank in finalRating">${ rank[0] }$ - <points-badge :points="rank[1]"/></div>

                <div class="mt-4">
                    <button @click="showFinalResults = false" class="btn btn-primary">Закрыть</button>
                </div>
            </div>
        </transition>

        <transition name="bounce">
            <div v-if="showRoundResults === true"
                 class="overlay mb-3"
                 :class="{'success': roundResults === true, 'failure': roundResults === false}">
                <div class="mr-5">
                    Здание
                    <span v-if="roundResults === false"> <strong>не</strong> построено</span>
                    <span v-else> построено</span>

                    <div class="mt-4">
                        <button @click="showRoundResults = false" class="btn btn-primary">Закрыть</button>
                    </div>
                </div>

            </div>
         </transition>

        <div id="lobby-layout" v-if="room.game === null" class="container">
            <div class="row">
                <div class="col">
                    <h1>Лобби</h1>
                    <a href="/?room_id={{room_id}}" target="_blank">Пригласить другого игрока</a>

                    <!-- Player list -->
                    <div class="row">
                        <div class="col-12 mt-4">
                            <p>Сейчас в комнате:</p>
                        </div>

                        <div class="col-auto"
                             v-for="p in room.players">
                            <div class="portrait p-2 rounded-4 mb-2"
                                 :style="{'background-image': 'url(/static/portrait' + (portraitIds[p.name] || 0) + '.jpg)'}">
                                <div>
                                    <p><span class="p-1"><strong>${ p.name }$</strong></span></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 my-3">
                            <button type="button"
                                    @click="showPortraitOptions = !showPortraitOptions"
                                    class="btn btn-sm btn-outline-secondary">${ !showPortraitOptions ? 'Выбрать портрет' : 'Готово' }$</button>

                            <div v-if="showPortraitOptions === true"
                                 id="portrait-options"
                                 class="mt-3">
                                {% for i in range(4) %}
                                    <div class="row">
                                        <div class="col">
                                        {% for j in range(4) %}
                                            <img src="{{ url_for('static', filename='portrait' ~ ((i * 4) + 1 + j) ~ '.jpg') }}"
                                                 class="border border-5"
                                                 :class="{'border-info': player.portrait_id === {{ (i * 4) + 1 + j }}}"
                                                 @click="selectPortrait({{ (i * 4) + 1 + j }})">
                                        {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-12 my-3">
                            <button :disabled="room.players.length < room.config.MIN_PLAYERS || room.players.length > room.config.MAX_PLAYERS"
                                    v-if="player.is_owner"
                                    class="btn btn-primary"
                                    @click="startGame">Начать игру</button>
                        </div>
                    </div>

                    <details v-if="player.is_owner">
                        <summary>Настроить</summary>

                        <div>
                            <label>Number of rounds
                                <input v-model="gameConfig.rounds" />
                            </label>
                        </div>
                        <div>
                            <label>Initial player points
                                <input v-model="gameConfig.initialPlayerPoints" />
                            </label>
                        </div>
                        <h4>Card effect visibility</h4>
                        <div>
                            <p>On success effect</p>
                            <label>Leader
                                <input type="checkbox" v-model="gameConfig.cardEffectVisibility.onSuccess.leader" />
                            </label>
                            <label>Players
                                <input type="checkbox" v-model="gameConfig.cardEffectVisibility.onSuccess.players" />
                            </label>
                        </div>
                        <div>
                            <p>On failure effect</p>
                            <label>Leader
                                <input type="checkbox" v-model="gameConfig.cardEffectVisibility.onFailure.leader" />
                            </label>
                            <label>PLayers
                                <input type="checkbox" v-model="gameConfig.cardEffectVisibility.onFailure.players" />
                            </label>
                        </div>
                    </details>
                </div>
            </div>
        </div>

        <div id="game-layout" v-if="room.game !== null" class="pb-5">
            <div class="container">
                <div class="row mb-3">
                    <div class="col">
                         <h5>
                             <span>Ваш счет: <points-badge :points="game.all_players_points && game.all_players_points[playerName]" /></span>
                             <span class="ms-3">
                                <span v-for="effect in playerEffectsToApply">
                                    <span v-if="effect.name == 'change_player_points'">
                                        <points-badge :prolonged="true" :points="effect.payload.points" :signed="true" :duration="effect.payload.rounds_to_apply"/></span>
                                    </span>
                                </span>
                             </span>
                         </h5>
                         <p>
                            <span>Раунд <i class="bi-hourglass-split"></i> ${ game.round }$ / ${ game.rounds }$</span>
                            <span v-if="roundStage === 0">, мэр выбирает проект </span>
                            <span v-if="roundStage === 1">, мэр выбирает команду </span>
                            <span v-if="roundStage === 2 && (!isPlayerProjectParticipant() || !isActivePlayer())">, ждем результатов строительства</span>
                        </p>
                    </div>
                </div>

                <!-- Players list -->
                <div class="row mb-4">
                    <div class="col-auto mx-1"
                         v-for="pl in room.players">
                        <div class="portrait border p-2 rounded-4 mb-2"
                             :style="{'background-image': 'url(/static/portrait' + (portraitIds[pl.name] || 0) + '.jpg)'}"
                             :class="{'active border-info border-5': game.active_player == pl.name, 'border-secondary-subtle': game.active_player != pl.name, 'shadow': projectTeamMembersSelection[pl.name]}">

                            <div>
                                <p>
                                    <input type="checkbox"
                                       style="width: 25px; height: 25px;"
                                       :disabled="(selectedProjectTeamMembers.length >= projectTeamMaxMembers && !selectedProjectTeamMembers.includes(pl.name))"
                                       v-model="projectTeamMembersSelection[pl.name]"
                                       v-if="isLeader() && roundStage === 1 && game.leader !== pl.name">
                                    <span class="p-1">
                                        <strong>
                                            ${ pl.name }$
                                        </strong>
                                    </span>

                                    <span class="p-1 m-1 text-white bg-primary" v-if="pl.name == game.leader">мэр</span>
                                    <span class="p-1 m-1 text-white bg-success" v-if="game.team && game.team.includes(pl.name)">команда</span>
                                </p>
                            </div>
                        </div>
                        <div v-for="vcn in playerVacancies(pl.name)">
                            <vacancy-badge :name="vcn.name" :salary="applyFeature('clerks_salary', vcn.income)"/>
                        </div>
                    </div>

                    <div v-if="isLeader() && roundStage === 1">
                        <div class="row mt-3">
                            <div class="col">
                                <button type="button"
                                        class="btn btn-primary"
                                        @click="submitProjectTeamSelection() && projectTeamMembersSelection.length > 0">Подтвердить выбор команды</button>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Cards -->
                <div class="row justify-content-sm-center bg-gradient py-4">
                    <div class="col">
                        <div v-if="roundStage === 0 && game.cards_on_table && game.cards_on_table.length > 0">
                            <div v-if="isLeader()">
                                <div class="row">
                                    <div class="col">
                                        <table-card @click="selectedCard = card.card_id"
                                            :card="card"
                                            :vacancies="currentVacancies"
                                            class="border-4"
                                            :class="{'shadow-lg border-info': selectedCard && (selectedCard === card.card_id), 'border-white': !(selectedCard && (selectedCard === card.card_id))}"
                                            v-for="card in game.cards_on_table"
                                            :key="card.card_id"
                                            :active-features="activeCardFeatures"
                                            :effects-visibility="game.card_effect_visibility"
                                            :is-leader="isLeader()" />

                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col">
                                        <button type="button"
                                                class="btn btn-primary"
                                                @click="submitCardsSelection()"
                                                :disabled="!selectedCard">Подтвердить выбор проекта</button>
                                    </div>
                                </div>
                            </div>

                            <div v-if="!isLeader()">
                                <div class="row">
                                    <div class="col">
                                        <table-card :card="card"
                                                    class="border-4 border-white"
                                                    :vacancies="currentVacancies"
                                                    v-for="card in game.cards_on_table"
                                                    :key="card.card_id"
                                                    :active-features="activeCardFeatures"
                                                    :effects-visibility="game.card_effect_visibility"
                                                    :is-leader="isLeader()"/>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div v-if="roundStage > 0">
                            <div class="row">
                                <div class="col">
                                    <table-card :card="card"
                                                class="border-4 border-white"
                                                v-for="card in game.cards_selected_by_leader"
                                                :vacancies="currentVacancies"
                                                :key="card.card_id"
                                                :active-features="activeCardFeatures"
                                                :effects-visibility="game.card_effect_visibility"
                                                :is-leader="isLeader()"/>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <!-- Current state notification -->
                <div class="row justify-content-sm-center py-3">
                    <div class="col">
                        <div v-if="roundStage === 2 && isPlayerProjectParticipant() && isActivePlayer()">
                            <label>Выберите, сколько вложить в проект: ${ playerProjectBid }$</label>
                            <div class="my-4">
                                <input type="range"
                                       style="min-width: 300px;"
                                       v-model="playerProjectBid"
                                       min="0"
                                       :max="game.all_players_points[playerName]" />
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button type="button"
                                            class="btn btn-primary"
                                            @click="makeProjectDeposit(playerProjectBid)">Подтвердить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row py-3" v-if="succeedCards.length > 0">
                    <h5>Построены</h5>
                    <div v-for="(card, family) in succeedCardsByFamilies" class="mb-2">
                        <div><span class="me-2">${ family }$ ${ card.tier }$ - ${ card.name }$</span><feature-badge :feature="card.feature" /></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <template id="TableCard">
        <div class="card shadow-sm me-3 mb-3 border-4">
            <div :style="{'background-image': 'url(/static/card/' + card.family.toLowerCase() + '_' + card.tier+ '.jpg)'}"
                 style="background-size: cover; min-height: 300px;"
                 class="py-4">
                <div class="row mb-2">
                    <div class="col text-start mx-2">
                        <points-badge style="font-size: 1.4rem" :points="applyFeature('cards_cost', card.points_to_succeed)"/>
                    </div>

                    <div class="col text-end mx-2 font-bigger" >
                        <span class="bg-light px-2 py-1 rounded-pill text-dark">
                            <span><i class="bi-person-fill-add me-2"></i></span>
                            <span v-if="card.min_team != card.max_team">${ card.min_team }$ - ${ card.max_team }$</span>
                            <span v-else>${ card.min_team }$</span>
                        </span>
                    </div>
                </div>
                <span class="bg-light px-2 py-1 rounded-pill text-dark"><small>${ card.family }$ ${ tiers[card.tier] }$</small></span>
                <h4>
                    <span class="bg-light px-2 py-1 rounded-pill text-dark">
                        ${ card.name }$
                    </span>
                </h4>
            </div>

            <div v-for="condition in ['on_success', 'on_failure']"
                 class="card-effect py-3 bg-gradient"
                 :set="effects = card[condition]"
                 :class="{'card-effect-success': condition == 'on_success', 'card-effect-failure': condition == 'on_failure'}">

                <div v-if="!isConditionEffectsVisible(condition)">
                    Эффект скрыт
                </div>

                <div v-if="isConditionEffectsVisible(condition)">
                    <div v-for="effect in effects" class="mb-3">
                        <div v-if="effect.name">
                            <div v-if="effect.name == 'change_player_points'">
                                <div>
                                    ${ buildCategoriesDescription(effect.payload.categories_of_players) }$ получает <points-badge :prolonged="effect.payload.rounds_to_apply > 1" :signed="true" :points="applyFeature('cards_reward', effect.payload.points)" :duration="effect.payload.rounds_to_apply"/>
                                </div>
                            </div>
                            <div v-if="effect.name == 'give_overpayment'">
                                <div>
                                    ${ buildCategoriesDescription(effect.payload.categories_of_players) }$ получает переплату
                                </div>
                            </div>
                            <div v-if="effect.name == 'cancel_effects'">
                                <div>
                                    Отменяет ${ {'all_effects': 'все', 'positive_effects': 'положительные', 'negative_effects': 'отрицательные'}[effect.payload.cancel] }$ эффекты у ${ buildCategoriesDescription(effect.payload.categories_of_players) }$
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div v-if="condition == 'on_success'">
                    <div v-if="vacancy" class="mb-1">
                        <vacancy-badge :name="vacancy.name"
                                       :salary="applyFeature('clerks_salary', vacancy.income)"/>
                    </div>

                    <div v-if="feature" class="mb-1">
                        <feature-badge :feature="feature" />
                    </div>
                </div>
                <div v-if="condition == 'on_failure' && !vacancy && vacancies[card.family]">
                    Переназначение <vacancy-badge :name="vacancies[card.family].name"
                                                  :salary="applyFeature('clerks_salary', vacancies[card.family].income)"/>
                </div>
            </div>
        </div>
    </template>


    <script type="text/javascript" charset="utf-8">
        const { createApp, ref } = Vue
        var socket = io();

        const app = createApp({
            setup() {
                return {
                    room: ref({}),

                    showPortraitOptions: ref(false),
                    debug: ref(false),
                    selectedCard: ref(null),
                    playerProjectBid: ref(0),
                    projectTeamMembersSelection: ref({}),
                    playerName: '{{ player_name }}',
                    roomId: '{{ room_id }}',

                    config: {},
                    showRoundResults: ref(false),
                    roundResults: ref(null),
                    finalRating: ref(null),
                    showFinalResults: ref(false),
                    gameConfig: ref({
                        rounds: 15,
                        initialPlayerPoints: 30,
                        cardEffectVisibility: {
                            'onSuccess': {
                                'leader': true,
                                'players': true
                            },
                            'onFailure': {
                                'leader': true,
                                'players': true
                            }
                        }
                    }),
                }
            },
            computed: {
                game() {
                    return this.room.game || {}
                },
                player() {
                    return this.room.players?.find(p => p.name == this.playerName) || {}
                },
                playerEffectsToApply() {
                    return (this.game.effects_to_apply
                           && this.game.effects_to_apply.length > 0
                           && this.game.effects_to_apply.filter(ef => ef.payload.players.includes(this.playerName))) || []
                },
                succeedCards() {
                    return (this.game.history && this.game.history.filter(log => log.succeeded).map(log => log.card)) || []
                },
                portraitIds() {
                    let pls = this.room.players || [];

                    let portraitIds = {};
                    pls.forEach(p => {
                        portraitIds[p.name] = p.portrait_id;
                    });

                    return portraitIds;
                },
                roundStage() {
                    // project developing
                    if (this.game.team && this.game.team.length > 0) {
                        return 2
                    }

                    // team selection
                    if (this.game.cards_selected_by_leader && this.game.cards_selected_by_leader.length > 0) {
                        return 1
                    }

                    // card selection
                    return 0
                },
                projectTeamMaxMembers() {
                    return Math.max.apply(null, this.game.cards_selected_by_leader.map(c => c.max_team))
                },
                selectedProjectTeamMembers() {
                    let selectedPlayers = [];
                    for (player in this.projectTeamMembersSelection) {
                        if (this.projectTeamMembersSelection[player] === true) {
                            selectedPlayers.push(player)
                        }
                    }

                    return selectedPlayers;
                },
                succeedCardsByFamilies() {
                    let families = {}

                    this.succeedCards.forEach(card => {
                        if (!(card.family in families)) {
                            families[card.family] = card
                        }
                        if (families[card.family].tier < card.tier) {
                            families[card.family] = card
                        }
                    })

                    return families
                },
                currentVacancies() {
                    let vacancies = {}

                    this.succeedCards
                        .filter(card => card.vacancy)
                        .forEach(card => {
                            let fam = card.family
                            if (!(fam in vacancies)) {
                                vacancies[fam] = card.vacancy
                            }
                            if (vacancies[fam].tier < card.tier) {
                                vacancies[fam] = card.vacancy
                            }
                        })

                    return vacancies
                },
                activeCardFeatures() {
                    return {
                        'cards_cost': this.getActiveFeature('cards_cost'),
                        'cards_reward': this.getActiveFeature('cards_reward'),
                        'clerks_salary': this.getActiveFeature('clerks_salary'),
                    }
                },
            },
            methods: {
                selectPortrait(id) {
                    socket.emit('select_player_portrait', {
                        "portrait_id": id,
                        "room_id": this.roomId,
                        "player_name": this.playerName
                    });
                },
                getActiveFeature(name) {
                    return Object.values(this.game.features || {}).find(ft => ft.type === name) || null
                },
                applyFeature(name, value) {
                    return value + (this.getActiveFeature(name)?.magnitude || 0)
                },
                isPlayerProjectParticipant() {
                    return this.roundStage === 2 && this.game.team.includes(this.playerName);
                },
                isActivePlayer() {
                    return this.playerName === this.game.active_player
                },
                isLeader() {
                    return this.playerName == this.game.leader;
                },
                startGame() {
                    socket.emit('start_game', {
                        "room_id": this.roomId,
                        "rounds": this.gameConfig.rounds,
                        "initial_player_points": this.gameConfig.initialPlayerPoints,
                        "card_effect_visibility": this.gameConfig.cardEffectVisibility
                    });
                },
                makeProjectDeposit(points) {
                    let payload = {
                        "room_id": this.roomId,
                        "player_name": this.playerName,
                        "points": points
                    }
                    socket.emit('make_project_deposit', payload)
                    this.playerProjectBid = 0;
                },
                submitCardsSelection() {
                    let payload = {
                        "room_id": this.roomId,
                        "selected_card_id": this.selectedCard,
                    }
                    socket.emit('select_cards_from_table', payload)
                    this.selectedCard = null;
                },
                submitProjectTeamSelection() {
                    let payload = {
                        "room_id": this.roomId,
                        "selected_players": this.selectedProjectTeamMembers,
                    }
                    socket.emit('select_team_for_round', payload)
                    this.projectTeamMembersSelection = {};
                },
                playerVacancies(plName) {
                    return Object.values(this.game.vacancies)
                        .filter(v => v.assignee === plName)
                        .map(v => v.vacancy);
                }
            },
            mounted() {
                let vm = this;

                socket.on('connect', function() {
                    socket.emit('player_enter', {"player_name": vm.playerName, "room_id": vm.roomId});
                });

                let listeners = {
                    'room_entered': function(arg) {
                        vm.room = arg;
                    },
                    'game_started': function(arg) {
                        vm.room = arg;
                    },
                    'round_started': function(arg) {
                        vm.room = arg;
                    },
                    'move_started': function(arg) {
                        vm.room = arg;
                    },
                    'player_points_changed': function(arg) {
                        vm.room = arg;
                    },
                    'cards_for_round_selected': function(arg) {
                        vm.room = arg;
                    },
                    'team_for_round_selected': function(arg) {
                        vm.room = arg;
                    },
                    'round_result': function(arg) {
                        vm.room = arg;
                        vm.roundResults = arg.game.latest_round_result;
                        vm.showRoundResults = true;
                    },
                    'player_portrait_selected': function(arg) {
                        vm.room = arg;
                    },
                    'game_ended': function(arg) {
                        vm.room = arg;
                        vm.finalRating = arg.rating;
                        vm.showFinalResults = true;
                    }
                }

                for (const [eventName, cb] of Object.entries(listeners)) {
                    socket.on(eventName, (arg) => {
                        console.log(eventName, arg)
                        cb(arg)
                    });
                }
            },
        });
        app.component('TableCard', {
            props: ['card', 'effectsVisibility', 'isLeader', 'activeFeatures', 'vacancies'],
            data() {
                return {
                    tiers: {
                        1: 'I',
                        2: 'II',
                        3: 'III',
                        4: 'IV',
                        5: 'V'
                    },
                }
            },
            computed: {
                vacancy() {
                    return this.card.vacancy || null
                },
                feature() {
                    return this.card.feature || null
                }
            },
            methods: {
                applyFeature(name, value) {
                    return value + (this.activeFeatures[name]?.magnitude || 0)
                },
                isConditionEffectsVisible(condition) {
                    let key = condition == 'on_success' ? 'onSuccess' : 'onFailure';
                    let group = this.isLeader ? 'leader' : 'players';

                    return this.effectsVisibility[key][group] === true;
                },
                buildCategoriesDescription(categories) {
                    let translates = [
                        categories.includes('leader') ? 'лидер' : '',
                        categories.includes('team') ? 'каждый в команде' : '',
                        categories.includes('all') ? 'каждый игрок' : '',
                        categories.includes('others') ? 'Каждый, кроме лидера и команды' : '',
                    ].filter(i => Boolean(i)).join(' и ');

                    return translates.charAt(0).toUpperCase() + translates.slice(1)
                }
            },
            template: '#TableCard',
        });
        app.component('PointsBadge', {
            props: ['points', 'duration', 'prolonged', 'signed'],
            template: '<span class="badge rounded-pill bg-warning text-dark"><strong><span v-if="signed && points > 0">+</span>${ points }$</strong><span v-if="prolonged"><span v-if="duration">&nbsp;на&nbsp;${ duration }$&nbsp;<i class="bi-hourglass-split"></i></span></span></span>',
        });
        app.component('VacancyBadge', {
            props: ['name', 'salary'],
            template: '<span class="bg-info badge text-dark"><b>${ name }$</b> <points-badge style="font-size: 0.7rem;" :signed="true" :points="salary" /></span>'
        });
        app.component('FeatureBadge', {
            props: ['feature'],
            data() {
                return {
                    featureTypes: {
                        'cards_cost': 'Цена построек',
                        'cards_reward': 'Награда за постройку',
                        'clerks_salary': 'Зарплаты',
                        'basic_income': 'Базовый доход',
                        'random_gift': 'Случайный доход',
                    },
                }
            },
            template: '<span class="bg-success badge"><b>${ featureTypes[feature.type] }$</b> <points-badge style="font-size: 0.7rem;" :signed="true" :points="feature.magnitude" /></span>'
        });

        app.config.compilerOptions.delimiters = ["${", "}$"];
        app.mount('#app')

    </script>
</body>
</html>